<!DOCTYPE html>
<html>
  <head>
    <title>BuduBot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="yandex-verification" content="d596d6b7ba09e042" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
